/* Solution For Training Css Start */
/* Common */
.mrg-30{
    row-gap: 30px;
}
.mrg-50{
    row-gap: 50px;
}
.mcg-30>* {
--bs-gutter-x: 30px;
}
.overflow-x-hidden{
    overflow-x: hidden;
}


.signup-btn-1{
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 23px;
    border-radius: 10px;
    background: #0A7EFB;
    transition: .3s;
}
.signup-btn-1:hover{
    background: #005ab9;
    color: #FFF;
}
/* Banner */
.training-solution-banner{
    column-gap: 24px;
    padding: 60px 0 80px 0;
}
.training--banner-content{
    max-width: 585px;
    width: 100%;
}
.training--banner-content .light{
    color: #0072EF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.training--banner-content .title{
    color: #181A1E;
    font-family: Manrope;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}
.training--banner-content .title .highlight{
    color: #0072EF;
}
.training--banner-content .info{
    color: #3D4053;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}
.training-banner-image{
    max-width: 608px;
    width: 100%;
    margin-right: -77px;
}
/* About Creative LMS */
.about-lms-section{
    background: #FCFBF3;
    padding: 80px 0;
}
.single-lms-different{
    border-radius: 8px;
    border: 1px solid #E0E3E8;
    background: #FFF;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
    height: 100%;
}
.single-lms-different .different-img{
    margin-bottom: 10px;
}
.single-lms-different .title{
    color: #181A1E;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    transition: .3s;
}
.single-lms-different .info{
    color: #3D4053;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    transition: .3s;
}
.single-lms-different:hover{
    box-shadow: 0px 8px 32px 0px rgba(32, 94, 214, 0.12);
    border-color: transparent;
}
.single-lms-different path{
    transition: .3s;
}
.single-lms-different:hover path{
    fill: #0072EF;
}
.single-lms-different:hover .title{
    color: #3D82F0;
}
.single-lms-different:hover .info{
    color: #3D82F0;
}
.white-see-btn{
    border-radius: 10px;
    border: 1px solid #CFD4E1;
    padding: 12px 23px;
    color: #181A1E;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: .3s;
}
.white-see-btn:hover{
    color: #3D82F0;
    border-color: #3D82F0;
}
.about-different-button{
    margin-top: 20px;
}
/* Creative LMS Best Problem Solver */
.lms-best-section{
    padding: 80px 0;
}
.problem-solver-single{
    column-gap: 16px;
}
.problem-solver-img{
    height: 52px;
    width: 52px;
    min-width: 52px;
    border-radius: 8px;
    background: rgba(61, 130, 240, 0.16);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.problem-solver-single .title{
    color: #212534;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.problem-solver-single .info{
    color: #3D4053;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
/* Solution For Training Css End */

/* Responsive */
@media screen and (max-width: 1224px){
    /* Solution For Training */
    .training-banner-image{
        margin-right: -25px;
    }
}
@media screen and (max-width: 991px){
    /* Solution For Training */
    .training-solution-banner {
        flex-direction: column;
        row-gap: 30px;
    }
    .training--banner-content {
        max-width: 585px;
        width: 100%;
        margin: auto;
    }
    .training-banner-image {
        margin-right: 0;
        margin: auto;
    }
}
@media screen and (max-width: 767px){
    /* Solution For Training */
    .single-lms-different{
        max-width: 450px;
        width: 100%;
        margin: auto;
    }
    .training--banner-content .title {
        font-size: 50px;
        line-height: 67px;
    }
}
@media screen and (max-width: 575px){
    /* Solution For Training */
    .training--banner-content .title {
        font-size: 38px;
        line-height: 57px;
    }
}