/* Documentation Item */
.doc-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 1.625rem 1rem;
    border-bottom: 0.3125rem solid #0a7efb;
    border-radius: 0.3125rem;
    background-color: #fff !important;
    box-shadow: 0rem 0.625rem 1.5625rem rgba(103, 108, 125, 0.11) !important;
    overflow: hidden;
    height: 100%;
}
.doc-item-academy-LMS {
    border-color: #ab3285;
}
.doc-item-icon {
    flex: 0 0 4.25rem;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a7efb;
}
.doc-item-academy-LMS .doc-item-icon {
    background-color: #fceef8;
}
.doc-item-icon img {
    width: 1.75rem;
}
.doc-item-name {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1rem;
    color: #212534 !important;
    padding-bottom: 0.3125rem;
}
.doc-item-article {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: #9095a1;
}
.doc-item-ekattor .doc-item-icon {
    background-color: #def8ff;
}
.doc-item-ekattor {
    border-color: #29afd1;
}
.doc-item-learny-LMS .doc-item-icon {
    background-color: #dce8ff;
}
.doc-item-learny-LMS {
    border-color: #3478f7;
}
.doc-item-mastery-LMS .doc-item-icon {
    background-color: #d8ffec;
}
.doc-item-mastery-LMS {
    border-color: #02ff84;
}
.doc-item-checkout .doc-item-icon {
    background-color: #fff0d5;
}
.doc-item-checkout {
    border-color: #f9a91e;
}
.doc-item-atlas .doc-item-icon {
    background-color: #fceef8;
}
.doc-item-atlas {
    border-color: #ab3285;
}
.doc-item-ekattor8 .doc-item-icon {
    background-color: #dbf1ff;
}
.doc-item-ekattor8 {
    border-color: #1197fd;
}

/* Dropdown icon of product */
.payfile-option .dropdown-toggle {
    background-color: transparent;
    color: #212534;
    border: none;
}

.payfile-option button svg{
    height: 16px;
}
.payfile-option .dropdown-toggle::after {
    display:none;
}
.payfile-option .dropdown-menu {
    min-width: 7.875rem;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.5rem;
    box-shadow: 0rem 0.625rem 1.5625rem rgba(103, 108, 125, 0.2);
}
.payfile-option .dropdown-menu li a:hover {
    background-color: #edf2f6;
    color: #0a7efb !important;
    border-radius: 0.1875rem;
}
.payfile-option .dropdown-menu li a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #676c7d;
    padding: 0.1875rem 0.4375rem;
    margin-bottom: 0.1875rem;
}

.article-item-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1rem;
    width: 220px;
    color: #212534 !important;
}

.article-header {
    display: flex;
    justify-content: space-between;
}

.article-title {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


.btn-main {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a7efb;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    outline: none;
    border: 0.0625rem solid transparent;
    border-radius: 0.3125rem;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.el-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #eef3f8;
    padding: 0.53125rem 1.0625rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    color: #676c7d !important;
    border-radius: 0.3125rem;
}
/* .el-save-btn svg path {
    fill: transparent;
    stroke: #676c7d;
    stroke-width: 35px;
    transition: all 0.3s;
}
.el-save-btn:hover svg path, .el-save-btn.active svg path {
    fill: #0a7efb;
    stroke: #0a7efb;
} */

.btn-popularity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.21875rem 0.9375rem;
    background-color: #fff;
    border-radius: 0.3125rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #212534 !important;
    transition: all 0.3s;
}
.btn-popularity [class*=fa-] {
    color: #0a7efb !important;
    transition: all 0.3s;
}
.btn-popularity:hover, .btn-popularity.get-popular {
    background-color: #0a7efb;
    color: #fff !important;
}
.btn-popularity:hover [class*=fa-], .btn-popularity.get-popular [class*=fa-] {
    color: #fff !important;
}
/* Product checkout */
.eForm-label {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    color: #212534;
}

form :where(i, p) {
    color: #6990f2;
}

/* Documentation css */
.doc-title-des h3,
.doc-title-des h2{
    color: #000;
    font-family: Manrope;
    font-size: 23px;
    FONT-WEIGHT: 600;
    line-height: normal;
}
.doc-title-des h2{
    padding-bottom: 1.25rem;
}
.doc-title-des h3 span{
    margin: 15px 0 !important;
    display: inline-block;
}
.doc-title-des p{
    color: #706c81 !important;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.doc-title-des ol,
.doc-title-des ul{
    margin-top: 15px;
    margin-left: 20px;
}
.doc-title-des ol li,
.doc-title-des ul li{
    color: #4C5155 !important;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.doc-title-des ol li::marker{
    font-weight: 700;
}
.doc-title-des h6,
.doc-title-des h5{
    font-size: 17px;
}

/* Blog Css */

.details-third-bottom h2,
.details-third-bottom h2 b,
.details-third-bottom h4,
.details-third-bottom h3 b,
.details-third-bottom h3 span,
.details-third-bottom h3{
    color: #212534 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 36px !important;
}
.details-third-bottom div span,
.details-third-bottom div,
.details-third-bottom p br span,
.details-third-bottom p span,
.details-third-bottom p{
    color: #212534 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px;
}
.details-third-bottom p img,
.details-third-bottom div img{
    margin:14px 0;
    border-radius: 15px;
}
.details-third-bottom div span{
    margin-bottom: 8px;
    display: inline-block;
}
.details-third-bottom h3{
    margin-top: 8px !important;
}

.product-text {
    color: #676c7d;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
/* Elements Css */
.menu-search-antry .nice-select .option.selected,
.menu-search-antry .nice-select .option {
    border-radius: 5px;
}

/* Blog */

.blog-snf-title .text-36 {
    line-height: 42px;
}
.featured-single-details .text-20 {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-height: 52px;
}
.trending-child-details .blog-read-more svg,
.blog-read-more svg {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    margin-top: 3px;
}

.blog-search form input {
    max-width: 400px;
}


/* Service */
.service-feature{
    font-weight: 700;
}

/* ServiceCheckoutVue component */
.btn-close{
    background-color: #ffffff !important;
}

.modal-title {
    font-weight: 700;
    color: #212534;
}

.buy-btn{
    background-color: #F2F7FF;
}

/* ServiceHelperModal component */

.need-text {
    background: none;
    border: none;
}

.modal-title {
    font-weight: 700;
    color: #212534;
}

/* ServiceCustomCheckoutVue component */
.btn-close{
    background-color: #ffffff !important;
}

.modal-title {
    font-weight: 700;
    color: #212534;
}

/* Nav Link & Sidebar */

.nav-link {
    font-weight: 600;
    font-size: 15px;
}

.nav-links-li-2 .link-name{
    font-weight: 600;
    font-size: 16px;
}

.sideBar-sub a {
    font-size: 15px;
    line-height: 16px;
}

/* Help modal */

.service-help-item {
    border: 0.0625rem solid #e6eaee !important;
    border-radius: 0.625rem !important;
    margin-bottom: 1.25rem;
    overflow: hidden;
}
.service-help-header {
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #212534;
    padding: 16px 1rem;
}
.service-help-txt{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #212534;
  padding-bottom: 10px;
}
.service-help-item .service-help-body {
    position: relative;
    padding: .5rem 1rem 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.service-help-item .service-help-body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 94.25%;
    background-color: #e6eaee;
}

.modal-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #212534;
}

span.model-title-value {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #212534;
}

/* project-view-btn */

.project-view-btn{
    width: 110px;
    font-weight: bold;
}

/* custom checkout */

.cForm-wrap .cFormInput-wrap .checkout {
    padding: .5rem 1.25rem !important;
    font-size: 15;
    color: #7E828B;
}

.cFormInput-wrap .checkout {
    padding: .5rem 1.25rem !important;
    font-size: 15;
    color: #7E828B;
}

.check-custom {
    padding: 16px 16px 4px 16px;
}

.cus-label{
    font-size: 16px;
    line-height: 24px;
}

.cus-label p{
    font-size: 16px;
    color: #0A7EFB;
}

.ml-65{
    margin-left: 65px;
}


@media screen and (max-width: 992px){
    .bar-controls .btn-close {
        position: absolute;
        top: 4px;
        right: 5px;
    }
    .bar-controls {
        justify-content: flex-start !important;
        padding-left: 0 !important;
    }
}

/* Frontend pagination */
.ci-pagination .page-item:first-child .page-link ,
.ci-pagination .page-item:last-child .page-link {
    background: transparent !important;
    padding: 0px !important;
    border-radius: 8px;
    font-size: 14px;
    color: #212534;
    width: 72px;
    height: 20px;
    border: none !important;
    
}
.ci-pagination .page-item{
    border-radius: 8px;
}
.ci-pagination .page-item:first-child,
.ci-pagination .page-item:last-child {
    background: transparent !important;
    padding: 6px 10px !important;
    border-radius: 8px;
    font-size: 14px;
    color: #212534;
    width: 90px;
    text-align: center;
    border: 1px solid #aaaaaa33;
    transition: .5s;
}
.ci-pagination .page-item .page-link{
    border: 1px solid #aaaaaa33;
    border-radius: 8px;
    color: #212534;
    transition: .5s;
}
.ci-pagination .page-item .page-link:hover .active, .ci-pagination .page-item .page-link.active {
    border-color: #0a7efb;
    color: #fff;
}
.ci-pagination{
    gap: 8px;
}
.ci-pagination .page-item:hover ,
.ci-pagination .page-ite:hover{
    background-color: #0a7efb !important;
    border-radius: 8px;
}
.ci-pagination .page-item:hover .page-link{
    color: #fff !important;
}
.ci-pagination .page-item div{
    transition: .5s;
}
.ci-pagination .page-item:hover div{
    color: #fff;
    background-color: transparent !important;
}
/* Toast Custom */

.toast-custom {
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px;
    z-index: 999; /* Adjust the z-index to ensure it's above other content */
}

/* toast width */
.w-280{
    width: 275px !important;
}

/* Element product form buttons */

.up-uploadFile-btn {
    display: inline-block;
    padding: 0.9375rem 2.1875rem 0.875rem;
    background-color: #0a7efb;
    border-radius: 0.3125rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.3125rem;
    color: #fff !important;
}

.up-cancel-btn {
    display: inline-block;
    padding: 0.9375rem 2.1875rem 0.875rem;
    background-color: #fff;
    border: 0.0625rem solid #0a7efb;
    border-radius: 0.3125rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.3125rem;
    color: #212534 !important;
}

/* Tags */

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #ffffff;
    background: #2196f3;
    padding: 3px 7px;
    border-radius: 3px;
}
.bootstrap-tagsinput {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625rem;
    padding: 0.6875rem 1.25rem;
}

.bootstrap-tagsinput input {
    width: inherit !important;
}

/*  */

.eCard {
    border: 1px solid #e3e4ea;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 7px 15px rgba(121, 124, 139, 0.0784313725);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}
.eCard-body {
    flex: 1 1 auto;
    padding: 10px 20px 20px;
}
.eForm-control {
    display: block;
    width: 100%;
    padding: 11px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #797c8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cacfd4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* .language-item:hover{
    color: #fff;
} */
.dropdown-item.language-item {
    font-size: 12px;
    font-weight: 500;
    color: #6d7183;
}

.adminTable-action .lactive{
    font-weight: 700;
    color: #434242;
}

.table-action-btn-2 {
    display: inline-block;
    height: 35px;
    padding: 8px 18px;
    line-height: 1;
    border: none;
    border-radius: 5px;
    background-color: #edf2f6;
    font-size: 14px;
    font-weight: 500;
    color: #797c8b;
}

.payment_method{
    margin-top: 13px;
}

.paymethod_choose {
    margin-top: 23px;
  }

  .form-check.payment_method_body {
    border: 1.5px solid #e7e8ee;
    padding: 10px 10px 10px 48px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .paymethod_choose img{
    cursor: pointer;
  }

  .currency .dropdown-toggle::after {
    top: -6px;
}

.currency .dropdown-menu {
    min-width: auto;
    left: 111px;
}

.status-pending {
    background-color: #fff5f8;
    color: #FEC022;
}
.status-pending path{
    fill: #FEC022;
}

.cin1-badge-pending-light{
    border-radius: 6px;
    background: #faf7cb;
    padding: 6px 12px;
    color: #FEC022;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

  